body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecbbc5;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(236, 187, 197, 0.1);
}

h1 {
    text-align: center;
    color: #080300;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ecbbc5;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ecbbc5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ecbbc5;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #ecbbc5;
}